.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
			margin: auto;
	}
	

.img-responsive{
	margin:10px auto;
	display:block;
	}

h1{
		color:rgb(5, 5, 5);
		font-weight:800;
		font-size:40px;
		text-align: center;
		}


.carousel-inner > .item > .carousel-caption >	.agileits-banner-info> p{
		text-align:center;
		color:#066CC3;
		font-size:20px;
		margin-bottom:4%;
		background-color: rgb(249, 255, 255);}	

.carousel-inner > .item > .carousel-caption >	.agileits-banner-info> h3{
		text-align:center;
		color:#066CC3;
		font-size:40px;
		margin-bottom:4%;
		background-color: rgb(249, 255, 255);}
			
.hvr-shutter-in-vertical {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px transparent;
		position: relative;
		background: #12ceef;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		}

	.hvr-shutter-in-vertical:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #c7fcfc;
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		-webkit-transform-origin: 50%;
		transform-origin: 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		border-radius: 30px;
		}

.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
		color: white;
		}
		
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		}
			
.more {
		margin-top: 2.2em;
			}
			
.more a {
		padding: 10px 30px;
		color: #FFF;
		border-radius: 30px;
		font-weight: 600;
		border: none;
		outline: none;
		}
			
.more a:hover {
		background-color:#348cbf;
		color: #FFF;
		}