*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	width:100%;
	height:100%;
}

body{
	backgroup: #CCC;
}

.portafolio{
	width:95%;
	max-width: 1400px;
	margin: auto;
}

.portafolio-container{
	display: flex;
	justify-content: space-between;
}

.portafolio-item{
	width:32%;
	height:200px;
	position: relative;
	overflow:hidden;
	border-radius:20px;
	-webkit-transition:-webkit-transform 0.5s ease-in-out 0.2s;
}

.portafolio-img{
	transition: all 0.5s;
	
}


.portafolio-text{
	position: absolute;
	bottom: 0;
	padding: 10px;
	
	background: rgba(0,0,0,0.7);
	color: #fff;
	
	transform: translateY(100%);
	
	
	transition: all 0.5s ease-out;
	
}
 .portafolio-text p{
	 
	text-align-last:start;
	
}

.portafolio-item:hover{
	transform: scale(1.05);;
}

.portafolio-item:hover .portafolio-text{
	transform: translateY(0%);
}

.portafolio-item:hover .portafolio-img{
	transform: scale(1.15);